body{
	font-family: arial, sans-serif;
	background-color:#f8f9fa;
	display: flex;
	justify-content: center;
	align-items: center;
	height:100vh;
}

.form-container{
	background-color:white;
	padding:20px;
	border-radius:8px;
	box-shadow:0 0 5px rgba(000,0.1);
	width:250px;
}

h2{
	text-align:center;
	margin-bottom: 15px;
}

label{
	display:block;
	margin-top:10px;
	text-align:center;
}

select{
	display: block;
  margin: 5px auto;
}

button {
  display: block;
  margin: 10px auto;
}
